#vamos-conversar {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 450px;
    /* height: 450px; */
    padding-top: 40px;
    padding-bottom: 40px;    
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid springgreen;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);    
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;    
}

#form-content {
    display: flex;
    flex-direction: column;
}

#thanks {
    display: none;
    flex-direction: column;
    justify-content: center;    
    align-items: center;       
    align-self: center;      
}

#thanks p {
    font-size: large;
    font-weight: 400;

    width: auto;
}

.contact-p {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.textField {
    margin-top: 10px !important;
    margin-bottom: 10px !important;   
}

textarea {
    min-height: 100px;
    height: auto;
    padding-top: 15px;
}

.contact-button {
    margin-top: 10px;
    height: 60px;
    width: 100%;
    align-self: center;
    background-color:  rgb(44, 44, 44);
    color: springgreen;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.contact-button:hover {
    background-color: springgreen;
    color: rgb(44, 44, 44);    
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.success-msg {
    font-weight: 500;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 30px;
    color: lightgreen;
}

.socialmedia-wrapper {
    display: flex;      
    align-self: center;
}
.socialmedia-icon {    
    color: aliceblue;
    text-decoration: none !important;
    font-size: 40px !important;
    margin: 20px;
    /* margin-top: 100px; */
    
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.socialmedia-icon:hover {
    color: springgreen;  
    
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 510px) {
    .form {
        width: 80%;
    }
}