.appbar {
    position: fixed;
    z-index: 99;
    top: 0;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 0.8em;
}
.link:hover {
    color: springgreen;
}

.MuiMenu-root ul{
  background-color: #222;  
}
a {
    text-decoration: none;
}
