.project-wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 500px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.project-wrapper p {
  width: 100%;
}

.project-wrapper h1 {
  font-weight: 500;
  font-size: 2em;
}

.project-head {
  padding-bottom: 50px;
}

#proj-p {
  text-align: left;
}

#reactjs h2 {
  font-weight: 500;
}

.content {
  display: flex !important;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 375px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.thumbnail {
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;

  -webkit-transition: all 0.5s ease-in;
  transition: all 0.3s ease-in;
}

.project-link {
  display: flex !important;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.project-link p {
  width: 100%;
}

span {
  color: springgreen;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .project-wrapper img {
    margin-top: 20px;
  }
}

/*-- Project IDs Attributes --*/
#countdown {
  background: blueviolet;
}
#countdown img:hover {
  box-shadow: 5px 5px 5px purple;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#pokedex {
  background: darkred;
}
#pokedex img:hover {
  box-shadow: 5px 5px 5px red;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#blog {
  background: lightcoral;
}
#blog img:hover {
  box-shadow: 5px 5px 5px indianred;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#swotch {
  background: red;
}
#swotch img:hover {
  box-shadow: 5px 5px 5px indianred;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#tech {
    background: coral;
  }
  #tech img:hover {
    box-shadow: 5px 5px 5px orange;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

.big-arrow {
  font-size: 40px;
}

::-webkit-scrollbar-track {
  background-color: #444;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

/* -- Thumb links section -- */

.thumb-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .thumb-wrapper {
    display: block;
  }
}

.thumb-box-wrapper {
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.thumb-box-wrapper:hover {
  border-color: springgreen;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.thumb-box-wrapper p {
  font-weight: 500;
  text-align: center;
}

.thumb-box-wrapper .thumbnail {
  width: 200px;
  margin: 20px;
}
