.content-wrapper {
    display: flex !important;
    flex-direction: column;
    padding-top: 100px;
    color: aliceblue;
    padding-bottom: 50px;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    padding-bottom: 50px;
}


.title {
    font-size: 4em;    
    margin-top: 0;
    margin-bottom: 0;   
    font-weight: 500;       
}
.card-wrapper {
    display: flex;
}

.card {
    background: whitesmoke;
    padding: 10px;
    margin-right: 10px;
    color: #282c34;                
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.card:hover .thumb {
    width: 310px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.card p {
    text-align: center;
    font-weight: 500;
}

.thumb {
    width: 300px;        
    box-shadow: rgba(59, 59, 59, 0.5) 0px 5px 8px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

@media screen and (max-width: 540px) {
    .project-wrapper p {
        width: 100%;        
    }

    .card-wrapper {
        flex-direction: column;
    }
    .card {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}